<%= turbo_frame_tag "songs_list" do %>
  <div id="songs" class="grid gap-5" style="grid-template-columns: repeat(auto-fill, minmax(280px, 320px))">
    <% if @songs.any? %>
      <% @songs.each do |song| %>
        <%= render "song_card", song: song, match: @match_by_song_id&.dig(song.id) %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No songs found.</p>
    <% end %>
  </div>

  <% if @pagy&.pages.to_i > 1 %>
    <div class="mt-6 flex justify-center gap-1 flex-wrap">
      <%== @pagy.series_nav %>
    </div>
  <% end %>
<% end %>
