<% content_for :title, "Songs" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render "search_form" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-heading">Songs</h1>
    <% if policy(Song).create? %>
      <%= link_to "New song", new_song_path, class: "rounded-md px-3.5 py-2.5 bg-gray-700 hover:bg-gray-600 text-white block font-medium" %>
    <% end %>
  </div>

  <div class="mt-5">
    <%= render "songs_list" %>
  </div>
</div>
